$primary-color: #d3135a;
$primary-color-light: #ffc2dd;

$secondary-gray-1: #e6e6e6;
$secondary-gray-2: #cccccc;
$secondary-gray-3: #666666;
$secondary-gray-4: #4d4d4d;

$secondary-blue: #0071bc;

$black: #000000;
$white: #ffffff;

$menu-color__active: $secondary-gray-3;
$menu-color: $secondary-gray-4;

$layout-max__width: 1010px;
$layout__space: 20px;

$font-family__sans-serif: "Trebuchet MS", 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family__serif: 'Times New Roman PS - Bold MT', Georgia, Times, serif;
$font-size__base: 14px;

$form-label__color: #010101;
$form-label__margin-bottom: 10px;

$form-input__border: 1px solid $secondary-gray-3;
$form-input__border-radius: none;
$form-input__height: 31px;
$form-input__margin-bottom: 20px;
$form-input__padding: 5px 12px;
$form-input__width: 100%;

$screen-s: 480px;
$screen-m: 560px;
$screen-l: 768px;